.menu {
    margin-top: 20px;
}
.card1 {
    width: 80px;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}
#footer {
    height: 130px;
    background: #080808;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ffb03b;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
  }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    display: inline-block;
    background: #485348;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #ffb03b;
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  #footer .credits {
    font-size: 13px;
  }